@import '../../styles/mixins';

.youtube-modal-container {
  position: relative;
  .icon-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    .icon-close {
      color: rgb(201, 200, 200);
      font-size: 1.2rem;
      font-weight: 500;   
      z-index: 1000;
      &:hover {
        color: #fff;
      }
    }
  }

  .youtube-trailer-video {
    position: relative;
    width: 330px;
    height: 200px;
    @include respond-above(sm) {
      width: 640px;
      height: 360px;
    }
   
  }
}

/*
.modal-video {
  .modal-video-inner {
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    .modal-video-movie-wrap{
      padding: 0 !important;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      iframe {
        width: 90%;
        height: 40%;
        @include respond-above(sm) {
          height: 50%;
          width: 80%;
        }
        @include respond-above(md) {
          height: 60%;
        }
        @include respond-above(lg) {
          width: 64%;
          height: 70%;
        }
      }
      .modal-video-close-btn {
        display: none;
      }
    }
  }
}
 */