$data: (
  "icons": (
    "close": "\ea01",
    "close4": "\ea02",
    "downarrow": "\ea03",
    "facebook": "\ea04",
    "google": "\ea05",
    "grid-icon": "\ea06",
    "hamburger": "\ea07",
    "heart": "\ea08",
    "leftarrow": "\ea09",
    "list-icon": "\ea0a",
    "logo": "\ea0b",
    "next": "\ea0c",
    "play": "\ea0d",
    "refresh": "\ea0e",
    "rightarrow": "\ea0f",
    "search": "\ea10",
    "share": "\ea11",
    "star": "\ea12",
    "twitter": "\ea13",
    "youtube": "\ea14"
  )
);

@include font-face(icons);

.icon {
  font-family: icons;
  font-style: normal;

  @each $icon, $content in map-get($data, icons) {

    &-#{$icon} {
      
      // stylelint-disable-next-line max-nesting-depth
      &::before {
        content: $content;
      }
    }
  }
}
