

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -54%);
  outline: none;
}
.ReactModal__Overlay {
  background-color: rgba(0,0,0,.7);
  z-index: 1000000000;
}