.t-social-link {
  .follow-us {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 15px;
    color: #fff;
  }
  i.icon {
    font-size: 1.6rem;
    color: #fff;
    border: none !important;
    margin-right: 10px;
  }
}